.btn_blue {
    width: 17.5rem;
    height: 5rem;

    border-radius: 0.5rem;

    background-color: $light_blue;
    transition: background-color 0.3s;

    color: $titleColor;
    font-family: $titleFont;
    font-size: 1.8rem;
    font-weight: 700;

    &:hover {
        cursor: pointer;
        background-color: $dark_blue;
    }
}