.form {
    max-width: 57rem;
    margin: auto;

    display: flex;
    flex-direction: column;

    row-gap: 0.6rem;

    & input,
    & textarea,
    & .fakeInputFile {
        background-color: #FFF;
        padding: 1.2rem 1.6rem 1.1rem;

        border: 1px solid $grey;

        border-radius: 0.5rem !important;


        &::placeholder {
            color: $placeholderGrey;
        }

    }

    // for inputs validation visual
    .greenchecked {
        background: no-repeat 140%/50% 80% url('../images/svg/greenchecked.svg');
        background-color: #FFF;
    }

    // for inputs validation visual
    .redcross {
        background: no-repeat 140%/50% 80% url('../images/svg/redcross.svg');
        background-color: #FFF;
    }

    & textarea {
        resize: none;

        margin-bottom: 1.4rem;

        @media ($notebook) {
            height: 11rem;
        }
    }


    &__radio-inputs {
        margin-top: 1.1rem; // 1.7 = 1.1 + 0.6 (gap)
        margin-bottom: 1.1rem; // 1.7 = 1.1 + 0.6 (gap)

        & span {
            display: inline-block;
            @include p2($titleColor);
            font-weight: 700;
            margin-bottom: 1rem;
        }

        & label {
            @include p2($titleColor);
            margin-left: 0.5rem;
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.6rem;



        @media ($notebook) {
            flex-direction: row;
            justify-content: space-between;
        }

        // not used
        & input[type="file"] {
            width: 29.5rem;

            @media ($notebook) {
                width: 27rem;
            }
        }

        & .fakeInputFile {
            cursor: pointer;
            width: 29.5rem;

            text-align: center;

            font-family: $mainFont;
            font-weight: 700;
            color: $light_green;
            font-size: 1.8rem;

            @media ($notebook) {
                width: 27rem;
            }
        }

        & input[type="submit"] {
            cursor: pointer;
            transition: background-color 0.3s;

            background-color: $light_green;
            border: unset;
            width: 29.5rem;

            font-family: $mainFont;
            font-weight: 700;
            color: $titleColor;
            font-size: 1.8rem;

            @media ($notebook) {
                width: 21.8rem;
            }

            &:hover {
                background-color: $dark_green;
            }
        }
    }
}