.value {
    width: 33rem;
    text-align: center;

    // border: 1px solid black;


    &__img {
        margin-bottom: 1.6rem;
    }

    &__title {
        @include h3();
        margin-bottom: 1rem;
    }

    &__text {
        @include p3();
    }
}