.signing {
    padding: 2.4rem 1rem 1.2rem;

    @media ($notebook) {
        padding: 6rem 0;
    }

    background: url('../images/bg/signing.png') no-repeat;
    background-size: cover;

    background-color: rgba(0, 47, 61, 0.502);
    background-blend-mode: overlay;


    &__container {
        max-width: 84rem;
        margin: 0 auto;

        background-color: $mainColor;

        padding: 1.8rem 3rem 1.6rem;

        @media ($notebook) {
            padding-top: 4.3rem;
            padding-bottom: 5.7rem;
        }
    }

    &__title {
        @include h2($titleColor);
        text-align: center;
        margin-bottom: 2rem;
    }

}

// see .form styles in components/_form.scss