.signing {
    padding: 2.4rem 1rem 1.2rem;

    @media ($notebook) {
        padding: 6rem 0;
    }

    background: url('../images/bg/signing.png') no-repeat;
    background-size: cover;

    background-color: rgba(0, 47, 61, 0.502);
    background-blend-mode: overlay;


    &__container {
        max-width: 84rem;
        margin: 0 auto;

        background-color: $mainColor;

        padding: 1.8rem 3rem 1.6rem;

        @media ($notebook) {
            padding-top: 4.3rem;
            padding-bottom: 5.7rem;
        }
    }

    &__title {
        @include h2($titleColor);
        text-align: center;
        margin-bottom: 2rem;
    }

}


.form {
    max-width: 57rem;
    margin: auto;

    display: flex;
    flex-direction: column;

    row-gap: 0.6rem;

    & input,
    & textarea,
    & button {
        background-color: #FFF;
        padding: 1.2rem 1.6rem 1.1rem;

        border: 1px solid $grey;

        border-radius: 0.5rem !important;


        &::placeholder {
            color: $placeholderGrey;
        }
    }

    & textarea {
        resize: none;

        margin-bottom: 1.4rem;

        @media ($notebook) {
            height: 11rem;
        }
    }


    &__radio-inputs {
        margin-top: 1.1rem; // 1.7 = 1.1 + 0.6 (gap)
        margin-bottom: 1.1rem; // 1.7 = 1.1 + 0.6 (gap)

        & span {
            display: inline-block;
            @include p2($titleColor);
            font-weight: 700;
            margin-bottom: 1rem;
        }

        & label {
            @include p2($titleColor);
            margin-left: 0.5rem;
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.6rem;



        @media ($notebook) {
            flex-direction: row;
            justify-content: space-between;
        }

        // not used
        & input[type="file"] {
            width: 29.5rem;

            @media ($notebook) {
                width: 27rem;
            }
        }

        & .fakeInputFile {
            width: 29.5rem;

            font-family: $mainFont;
            font-weight: 700;
            color: $light_green;
            font-size: 1.8rem;

            @media ($notebook) {
                width: 27rem;
            }
        }

        & input[type="submit"] {
            cursor: pointer;
            transition: background-color 0.3s;

            background-color: $light_green;
            border: unset;
            width: 29.5rem;

            font-family: $mainFont;
            font-weight: 700;
            color: $titleColor;
            font-size: 1.8rem;

            @media ($notebook) {
                width: 21.8rem;
            }

            &:hover {
                background-color: $dark_green;
            }
        }
    }
}