@import'./values';
@import'./infrastructure';
@import './practice';
@import'./about';
@import'./main';
@import './header';
@import'./cards';
@import './faq';

.wrapper {
    max-width: 128rem;
    width: 96%;
    margin: 0 auto;
}